{% load i18n %}
<h1>{{ object.username }}</h1>

{% with object.userbook_set.all as book_list %}
    {% if book_list %}
        <h2>Books</h2>

        <ul>
            {% for userbook in book_list %}
                <li>{{ userbook.book.title }}</li>
            {% endfor %}
            <li><a href="{% url 'books_creation' %}">{% trans "Add another book" %}</a></li>
        </ul>
    {% else %}
        <p>{% trans "No books here yet" %}. <a href="{% url 'books_creation' %}">{% trans "Add your first book &raquo;" %}</a></p>
    {% endif %}
{% endwith %}
